# 고재향벗
**WEEK3 복습문제: Fare와 Survived의 관계 알아보기**

In [1]:
import pandas as pd
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 1. Fare 빈칸을 평균으로 채워주기
df.isnull().sum() 
# => Fare 빈칸이 없다

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
# 필요한 데이터만 남기기
train = df[['Survived','Fare']]

train.describe() # Fare의 최대값 = 512

         Survived        Fare
count  891.000000  891.000000
mean     0.383838   32.204208
std      0.486592   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      1.000000   31.000000
max      1.000000  512.329200

In [6]:
# Fare의 값 범주화
df.loc[df['Fare']<10, 'Fare']=0.0
df.loc[(df['Fare']>=10) & (df['Fare']<20), 'Fare'] = 1.0
df.loc[(df['Fare']>=20) & (df['Fare']<30), 'Fare'] = 2.0
df.loc[(df['Fare']>=30) & (df['Fare']<40), 'Fare'] = 3.0
df.loc[(df['Fare']>=40) & (df['Fare']<50), 'Fare'] = 4.0
df.loc[df['Fare']>=50, 'Fare']=5.0

In [7]:
# ???
# 세로축이 뭔지 질문
# week3 복습 문제 끝

In [8]:
# 1. Sex, Embarked 를 모두 숫자화 + 빈칸 채우기

# Sex
df.loc[df['Sex']=='male','Sex']=0  # 남자면 0
df.loc[df['Sex']=='female','Sex']=1  # 여자면 1

# Embarked
df['Embarked'] = df['Embarked'].fillna("S") # S가 가장 많음
df.loc[df['Embarked']=='C','Embarked']=0  
df.loc[df['Embarked']=='Q','Embarked']=1  
df.loc[df['Embarked']=='S','Embarked']=2

In [10]:
# 2. Fare, Sex, Embarked 이 세 개로 Decision Tree Classifier 모델 만들어
# 정확도 구하고, predict 하기

train = df[['Survived', 'Fare', 'Sex','Embarked']]
x_train = train[[ 'Fare', 'Sex','Embarked']]
y_train = train['Survived']

# x_train

In [12]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

# (1)
tree.score(x_train, y_train) # 이 디시전트리의 정확도(황금계수) 

# (2)
x_test = train[[ 'Fare', 'Sex','Embarked']]
pr = tree.predict(x_test)
pr

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0], dtype=int64)

# 박지연벗
**week3: Cabin 칸의 알파벳만 남긴 뒤, 공백 채우기**

In [25]:
# 필요한 정보만 남기기
train = df[['Survived', 'Cabin']]
train

# Cabin 빈칸 확인하기 = 687개
train['Cabin'].isnull().sum()

687

In [47]:
# 알파벳으로 나타내기
# 맨 앞 글자로
df['Cabin'] = df['Cabin'].str[0]

df['Cabin'].value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Cabin, dtype: int64

In [48]:
# df['Cabin'].isnull()/......

### WEEK4 복습문제
1년 간의 과거 날씨 데이터를 사용하여 도시 내일의 최고 온도 예측하기.  
이 데이터에는 1년 간의 역사적 최대 온도, 지난 이틀 동안의 온도 및 날씨에 관한 정보가 포함되어 있습니다.

위 데이터의 이틀 전 온도, 하루 전 온도, 역사적 평균 최고 온도를 바탕으로 실제 온도를 예측하
는 RandomForestClassifier 모델을 만들어주세요!

***temp_2 , temp_1 , average 데이터 사용**

In [32]:
temp = pd.read_csv('data/temps.csv')

# 필요한 데이터만 추출
sample = temp[['temp_2','temp_1','average']]

inputdata = sample[['temp_2','temp_1']]
targetdata = sample['average']

inputdata

     temp_2  temp_1
0        45      45
1        44      45
2        45      44
3        44      41
4        41      40
..      ...     ...
343      42      42
344      42      47
345      47      48
346      48      48
347      48      57

[348 rows x 2 columns]

In [36]:
# train_test_split 
# => input data를 랜덤으로 균일하게 75%(=x_train) / 25%(=x_test)로 나눠줌

from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(inputdata, targetdata)

x_train # input data의 75%

     temp_2  temp_1
170      76      73
158      67      65
42       56      55
321      49      46
12       45      49
..      ...     ...
246      69      71
119      68      77
22       52      57
204      80      85
43       55      58

[261 rows x 2 columns]

In [37]:
# RandomForest 만들기

from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier()
forest.fit(x_train, y_train) # 75% 데이터로 forest 만듦

# 두 집단 정확도 비교
print('Training set accuracy : ',forest.score(x_train, y_train))
print('test set accuracy : ',forest.score(x_test, y_test))

# 예측
prediction_by_forest = forest.predict(x_test)
prediction_by_forest


# 왜 에러나는거지 fit() 에서.... 내것도 같은 에러 형변환 필요?

ValueError: Unknown label type: 'continuous'

# 성혜원벗
Week 3

In [40]:
df = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [43]:
# df

#(1) Age
df['Age'] = df['Age'].fillna(df['Age'].mean()) #빈칸채우기
df.loc[df['Age']<10, 'Age']=0
df.loc[(df['Age']>=10) & (df['Age']<20), 'Age'] = 1
df.loc[(df['Age']>=20) & (df['Age']<30), 'Age'] = 2
df.loc[(df['Age']>=30) & (df['Age']<40), 'Age'] = 3
df.loc[(df['Age']>=40) & (df['Age']<50), 'Age'] = 4
df.loc[df['Age']>=50, 'Age']= 5

# (2),(4) Embarked
df['Embarked'] = df['Embarked'].fillna("S")
df.loc[df['Embarked']=='C','Embarked']=0  
df.loc[df['Embarked']=='Q','Embarked']=1  
df.loc[df['Embarked']=='S','Embarked']=2  

# (3) Sex
df.loc[df['Sex']=='male','Sex']=0  # 남자면 0
df.loc[df['Sex']=='female','Sex']=1  # 여자면 1

df['Fare'] = df["Fare"].fillna(df['Fare'].mean())

#(5) Name
df.loc[df['Name'].str.contains("Mr\."), "Name"]="Mr"
df.loc[df['Name'].str.contains("Mrs\."), "Name"]="Mrs"
df.loc[df['Name'].str.contains("Miss\."), "Name"]="Miss"

df.loc[df["Name"]=="Mr","Name"]=0

# (6)

ValueError: cannot mask with array containing NA / NaN values