# Week5 복습문제 -김윤서
## 신발 사이즈 분석

In [1]:
import pandas as pd

df = pd.read_csv('data/korean_players.csv')
df.head()

    이름  적합사이즈  나이  출장수    키  몸무게
0  조현우    275  27   12  189   75
1  김영권    285  29   69  186   81
2  김민재    290  22   19  190   88
3  이청용    265  30   89  180   70
4  손흥민    260  26   79  183   77

In [3]:
x1 = df[['나이','출장수','키','몸무게']]
x2 = df[['나이','키','몸무게']]
y = df['적합사이즈']

In [4]:
from sklearn.linear_model import LinearRegression

lr1 = LinearRegression().fit(x1, y)
lr2 = LinearRegression().fit(x2, y)

#print('train set 1 accuracy: ', lr1.score(x_train,y_train))
#print('train set 2 accuracy: ', lr2.score(x_train,y_train))

## 모델 적용

In [ ]:
comparison = pd.DataFrame(y)
comparison

In [16]:
y1 = lr1.predict(x1) #x1 을 가지고 예측해줘
y2 = lr2.predict(x2) #x2 을 가지고 예측해줘
comparison['출장수 O'] = y1
comparison['출장수 X'] = y2
comparison

   적합사이즈       출장수 O       출장수 X
0    275  281.829639  280.106082
1    285  277.882881  275.379734
2    290  289.474580  288.850867
3    265  263.176528  265.491731
4    260  268.559816  274.509714
5    275  270.052410  269.870489
6    280  273.917114  273.925824
7    270  265.904555  269.312461
8    260  267.476237  262.521151
9    275  276.726240  275.031946