# Week5 스터디 복습문제 풀기
##  
# 이미경 벗
## 타이타닉 데이터 - 다양한 모델로 분석하기

In [1]:
import pandas as pd
df = pd.read_csv('data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = df[['Sex', 'Pclass','Survived']] # 필요한 정보만 리로드

# 숫자 데이터로 변환
df.loc[df['Sex']=='male', 'Sex']=0
df.loc[df['Sex']=='female', 'Sex']=1

df.head()

  Sex  Pclass  Survived
0   0       3         0
1   1       1         1
2   1       3         1
3   1       1         1
4   0       3         0

In [5]:
# 모델을 만들 x,y 값 지정
trainData = df[['Sex', 'Pclass']]
targetData = df['Survived']

# split
from sklearn.model_selection import train_test_split
# train : test = 8:2 
x_train,x_test, y_train, y_test = train_test_split(trainData, targetData, test_size=0.2) #test_size 로 비율 정함
# train : valid = 8:2
x_train,x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2) #test_size 로 비율 정함

train set 으로 모델 학습시키고,  
validation set으로 모델을 검증  
test set 으로 예측한 데이터를 검증  

.score() 하면 해당 모델이 괄호 안의 내용을 예측했을 때의 정확도 출력

### 1. decision tree 로 분석하기

In [7]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(x_train, y_train) # train set으로 tree 모델 학습시켜

print('Training set accuracy : ',tree.score(x_train, y_train))
print('Valid set accuracy : ',tree.score(x_valid, y_valid))

Training set accuracy :  0.7908611599297012
Valid set accuracy :  0.7622377622377622

### 2. random forest 로 분석하기

In [8]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier()
forest.fit(x_train, y_train) # train set으로 forest 모델 학습시켜

print('Training set accuracy : ',forest.score(x_train, y_train))
print('Valid set accuracy : ',forest.score(x_valid, y_valid))

Training set accuracy :  0.7908611599297012
Valid set accuracy :  0.7622377622377622

### 3. linear regression 으로 분석하기

In [9]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train) #train set으로 lr 모델 학습 시키기

print('train set score', lr.score(x_train, y_train))
print('valid set score', lr.score(x_valid, y_valid))

train set score 0.37322276795960685
valid set score 0.34282261738452646

### 4. polynomial Feature 로 분석하기

In [10]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

model = make_pipeline(PolynomialFeatures(2),
                     LinearRegression())

model.fit(x_train, y_train) #학습 시켜주기

print('train set score', model.score(x_train, y_train))
print('valid set score', model.score(x_valid, y_valid))

train set score 0.38059753512372374
valid set score 0.35722911636777355

#  
# 성혜원 벗
### 새로운 파일로...